<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <environments default="defaultMysql">
        <environment id="defaultMysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${root.driver}"/>
                <property name="url" value="${root.url}"/>
                <property name="username" value="${root.username}"/>
                <property name="password" value="${root.password}"/>
            </dataSource>
        </environment>
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${root.driver}"/>
                <property name="url" value="${customer.url}"/>
                <property name="username" value="${customer.username}"/>
                <property name="password" value="${customer.password}"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingQuery" value="select now() from gnss.customer limit 1"/>
                <property name="poolPingConnectionsNotUsedFor" value="3600000"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/geo/gnss/mybatis/initMapper.xml"/>
        <mapper resource="com/geo/gnss/mybatis/UserMapper.xml"/>
    </mappers>
</configuration>