.ConfigDiv{width:100%;}

table{
	width:100%;
	height:auto;
	border-collapse:collapse;
	background:#EEE;
	text-align:left;
	margin-bottom:10px;
}

table tr{
	width:100%;
	height:30px;
}

table th{
	width:100%;
	height:35px;
	border:1px solid #CCC;
	text-indent:5px;
}

table tr td{
	width:30%;
	height:30px;
	border:1px solid #CCC;
}

table tr td.Label{
	width:20%;
	height:30px;
	border:1px solid #CCC;
	text-indent:20px;
}

table input[type='text'],
table select{
	width:100%;
	height:100%;
	border:0px;
	text-indent:20px;
}

table input[type='file']
{
	width:100%;
	height:100%;
	border:0px;
}

span#SelectSetting{
	float:right;
	border:20px solid transparent;
	border-right-color: #DDD;
}


input.FuncButton {
   width:60px;
   height:23px;
   border:0px;
   border-radius:5px;
   border:1px solid #CCC;
   
   border-radius:5px;
   background:#247BFF;
   color:#FFFFFF;
   border:1px solid #CCC;
}

input.FuncButton:disabled,
input.FuncButton:disabled:hover{
   background:#CCC;
   color:#FFFFFF;
}

input.FuncButton:hover{
	background:#80CCFF;
	color:#FFFFFF;
}

#SaveConfig{
 	width:100px;
	height:40px;
	font-size:17px;
	border-radius:5px;
	background:#247BFF;
	color:#FFFFFF;
	border:1px solid #CCC;
}
	
#SaveConfig:hover {
	background:#80CCFF;
	color:#FFFFFF;
}