.ListDiv{
	width:100%;
	height:100%;
} 

 #StationList {
   	width:100%;
   	height:auto;
   	font-size:18px;
   	border-collapse:collapse;
	background:#EEE;
	text-align:left;
}

#StationList tr:nth-child(2n) {
	background:#FFF;
}

#StationList th {
	height:30px;
	padding:3px 0px 3px 0px;
	border:1px solid #CCC;
	background:#EEE;
	color:#555;
	font-size:18px;
	text-align:center;
	width:auto;
}

#StationList th.leftColumn{
	text-indent:20px;
	text-align:left;
}

#StationList td {
	height:25px;
	padding:2px 0px 2px 0px;
	border:1px solid #CCC;
	width:auto;
	text-align:center;
	font-size:15px;
	color:#333;
}

#StationList td.leftColumn{
	text-indent:20px;
	text-align:left;
}

#StationList tr {
	height:auto;
}

#StationList tr:hover {
	background:#DDD;
}